/*
Accordion
*/

.accordion {
  background: $gray;
  box-shadow: 0 4px 40px $gray;
  margin: 4em auto;

  li {
    @include padding(24px);
  }

  ul {
    > li {
      box-shadow: inset 0 -1px $light-gray;
      color: $white;
      transition: all .3s $cubic-transition-2;

      &:hover,
      &:focus {
        background: $light-gray;
      }

      &.has-child {
        &.active {
          > .expander {
            &:before {
              transform: rotate(0deg);
            }
          }
        }

        ul > li {
          background: rgba($dark-gray, .6);
        }
      }

      span {
        &.expander {
          cursor: pointer;
          display: inline-block;
          height: 25px;
          position: relative;
          vertical-align: middle;
          width: 25px;

          @include margin(null 15px null null);

          &:before {
            color: $white;
            content: '\E001';
            line-height: 1.4;
            position: absolute;
            transform: rotate(-90deg);
            transition: all .3s $cubic-transition-2;

            @include icon-styles;
          }
        }
      }
    }

    ul {
      display: none;

      @include margin(24px null null);
    }
  }
}
